.summary-note {
  margin-bottom: 12px;
  color: $COLOR--darkmode-gray-100;
  font-size: 11px;
  line-height: 16px;
}

.selected-suggestion {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
}

.details-section {
  margin-top: 8px;
}